# Maven
target/
logs/

# Screenshots
screenshots/

# Eclipse
.classpath
.project
.settings/
.idea/
.vscode/

# IntelliJ
.idea/
*.iml

# Logs
*.log
logs/

# Test reports
test-output/
allure-results/
allure-report/

# OS
.DS_Store
Thumbs.db

# Local configuration
config-local.properties